<div class='bg-white pt-5 pb-24 sm:pb-32'>
  <div class='mx-auto max-w-7xl px-6 lg:px-8'>
    <div class='py-6'>
      <a class='py-6 hover:text-underline' href='/'> &larr; Back to home</a>
    </div>
    <div class='mx-auto max-w-2xl lg:mx-0'>
      <h2
        class='text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl'
      >{{post.dataValues.title}}</h2>
      <p
        class='mt-4 text-lg leading-8 text-gray-600'
      >{{post.dataValues.post_text}}</p>
      <p class='mt-4 text-md leading-8 text-gray-600'>Posted on
        {{post.dataValues.created_on}}
        by
        {{post.user.dataValues.full_name}}</p>
    </div>
    {{#if allComments.length}}
      <div
        class='mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-1'
      >
        <h2
          class='text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl'
        >Comments</h2>
        {{#each allComments}}
          <div class='p-6'>
            "{{this.comment_text}}"
            <p class='font-bold'>-
              {{this.user.dataValues.full_name}}
              on
              {{this.created_on}}</p>
          </div>
        {{/each}}
      </div>
    {{/if}}
    <div class='mt-20 sm:mx-auto sm:w-full sm:max-w-sm'>
      <form
        class='space-y-6'
        action='/api/comments/{{post.dataValues.id}}'
        method='POST'
      >
        <div>
          <div class='flex items-center justify-between'>
            <label
              for='comment_text'
              class='block text-sm font-medium leading-6 text-gray-900'
            >Comment</label>
          </div>
          <div class='mt-2'>
            <textarea
              id='comment_text'
              name='comment_text'
              type='text'
              class='block w-full rounded-md border-0 py-2 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:outline-none focus:ring-inset focus:ring-[#ff551c] sm:text-sm sm:leading-6'
            ></textarea>
          </div>
        </div>
        <div>
          <button
            type='submit'
            class='flex w-full justify-center rounded-md bg-[#ff551c] px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-[#ce4920] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600'
          >Add Comment</button>
        </div>
      </form>
    </div>
  </div>
</div>